<p id="notice"><%= notice %></p>

<p>
  <b>Reason desc:</b>
  <%= @mostimportchoice.reason_desc %>
</p>


<%= link_to 'Edit', edit_mostimportchoice_path(@mostimportchoice) %> |
<%= link_to 'Back', mostimportchoices_path %>
