<%= form_for(@student_been2othership) do |f| %>
  <% if @student_been2othership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_been2othership.errors.count, "error") %> prohibited this student_been2othership from being saved:</h2>

      <ul>
      <% @student_been2othership.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
