<p id="notice"><%= notice %></p>

<p>
  <b>Reason desc:</b>
  <%= @howcanimprofe.reason_desc %>
</p>


<%= link_to 'Edit', edit_howcanimprofe_path(@howcanimprofe) %> |
<%= link_to 'Back', howcanimproves_path %>
