<p id="notice"><%= notice %></p>

<p>
  <b>Reason desc:</b>
  <%= @weeklyusage.reason_desc %>
</p>


<%= link_to 'Edit', edit_weeklyusage_path(@weeklyusage) %> |
<%= link_to 'Back', weeklyusages_path %>
