<p id="notice"><%= notice %></p>

<p>
  <b>Reason desc:</b>
  <%= @incomelevel.reason_desc %>
</p>


<%= link_to 'Edit', edit_incomelevel_path(@incomelevel) %> |
<%= link_to 'Back', incomelevels_path %>
