<p id="notice"><%= notice %></p>

<p>
  <b>Reason desc:</b>
  <%= @frequentmag.reason_desc %>
</p>


<%= link_to 'Edit', edit_frequentmag_path(@frequentmag) %> |
<%= link_to 'Back', frequentmags_path %>
